# Desktop app specific ignores
node_modules/
dist/
*.log

# Backend build artifacts
backend/dist/
backend/build/


# Frontend build
frontend/dist/

# OS specific
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
backend/venv/
backend/env/

# Electron
out/
.webpack/
obfuscated-electron/